In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from datetime import date
from datetime import timedelta
import time
%matplotlib inline
from pathlib import Path

In [2]:
#Find yesterday's date and convert it to string
today=date.today()
yesterday=today-timedelta(days=1)
ydate=yesterday.strftime("%d-%m-%Y")

In [3]:
#Specify Data folder
data_folder1 = Path("C:/Users/joses/Nextcloud/JOSEPH/COVID19INDIAORG ANALYSIS/PYTHON APPROACH/PYTHON CODE/data/raw data")
#Compute complete filepath for the day
file_path1 = data_folder1 / "clean_data1&2.csv"

#Read file to data frame
df1=pd.read_csv(file_path1)
#Renames the column for easy manipulation
df1.rename(columns={'Current Status':'Current_Status', 'Date Announced':'Date','Detected State':'State', 'Num Cases':'Num_Cases'}, inplace=True) 
#Chooses the specified columns for further manipulation
df1=df1[['Entry_ID', 'Date', 'State', 'Num_Cases', 'Current_Status']]

In [4]:
#Specify url to download current raw_data3 into dataframe
url="https://api.covid19india.org/csv/latest/raw_data3.csv"
df2=pd.read_csv(url)

#Clean dataframe2
df2=df2.dropna(subset=['Num Cases']) #Drops rows with no entry for Num Cases
df2=df2.dropna(subset=['Detected State']) #Drops rows with no entry for Detected State
#Renames the column for easy manipulation
df2.rename(columns={'Current Status':'Current_Status', 'Date Announced':'Date','Detected State':'State', 'Num Cases':'Num_Cases'}, inplace=True) 
#Drops Recovered and Deceased fromthe data frame
df2=df2[df2.Current_Status=='Hospitalized'] 
#Chooses the specified columns for further manipulation
df2=df2[['Entry_ID', 'Date', 'State', 'Num_Cases', 'Current_Status']]

KeyError: ['Num Cases']

In [ ]:
#Join both dataframes into 1
frames=[df1, df2]
df=pd.concat(frames)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
#Specify Data folder
data_folder2 = Path("C:/Users/joses/Nextcloud/JOSEPH/COVID19INDIAORG ANALYSIS/PYTHON APPROACH/PYTHON CODE/data/raw data")
fname2 = "clean_data123.csv"
file_path2 = data_folder2 / fname2

#Export to CSV
df.to_csv(file_path2)

In [ ]:
df2.info()

                                            raw_data
0  {'agebracket': '', 'contractedfromwhichpatient...
1  {'agebracket': '', 'contractedfromwhichpatient...
2  {'agebracket': '', 'contractedfromwhichpatient...
3  {'agebracket': '28', 'contractedfromwhichpatie...
4  {'agebracket': '', 'contractedfromwhichpatient...