In [5]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from datetime import date
from datetime import timedelta
import time
%matplotlib inline
from pathlib import Path

In [6]:
#Find yesterday's date and convert it to string
today=date.today()
yesterday=today-timedelta(days=1)
ydate=yesterday.strftime("%d-%m-%Y")

In [7]:
#Specify Data folder
data_folder1 = Path("../data/raw data")
#Compute complete filepath for the day
file_path1 = data_folder1 / "clean_data123.csv"

#Read file to data frame
df1=pd.read_csv(file_path1)

#Chooses the specified columns for further manipulation
df1=df1[['Entry_ID', 'Date', 'State', 'Num_Cases', 'Current_Status']]

In [8]:
#Specify url to download current raw_data3 into dataframe
url="https://api.covid19india.org/csv/latest/raw_data4.csv"
df2=pd.read_csv(url)

#Clean dataframe2
df2=df2.dropna(subset=['Num Cases']) #Drops rows with no entry for Num Cases
df2=df2.dropna(subset=['Detected State']) #Drops rows with no entry for Detected State
#Renames the column for easy manipulation
df2.rename(columns={'Current Status':'Current_Status', 'Date Announced':'Date','Detected State':'State', 'Num Cases':'Num_Cases'}, inplace=True) 
#Drops Recovered and Deceased fromthe data frame
df2=df2[df2.Current_Status=='Hospitalized'] 
#Chooses the specified columns for further manipulation
df2=df2[['Entry_ID', 'Date', 'State', 'Num_Cases', 'Current_Status']]

In [9]:
#Join both dataframes into 1
frames=[df1, df2]
df=pd.concat(frames)

In [10]:
df.head()

   Entry_ID        Date      State  Num_Cases Current_Status
0       1.0  30-01-2020     Kerala        1.0   Hospitalized
1       2.0  02-02-2020     Kerala        1.0   Hospitalized
2       3.0  03-02-2020     Kerala        1.0   Hospitalized
3       4.0  02-03-2020      Delhi        1.0   Hospitalized
4       5.0  02-03-2020  Telangana        1.0   Hospitalized

In [11]:
df.tail()

      Entry_ID        Date      State  Num_Cases Current_Status
4790   14799.0  14/05/2020  Karnataka        1.0   Hospitalized
4791   14800.0  14/05/2020  Karnataka        1.0   Hospitalized
4792   14801.0  14/05/2020  Karnataka        1.0   Hospitalized
4793   14802.0  14/05/2020  Karnataka        1.0   Hospitalized
4794   14803.0  14/05/2020  Karnataka        1.0   Hospitalized

In [12]:
#Specify Data folder
data_folder2 = Path("../data/")
fname2 = ydate +".csv"
file_path2 = data_folder2 / fname2

#Export to CSV
df.to_csv(file_path2)

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4048 entries, 0 to 4794
Data columns (total 5 columns):
Entry_ID          4048 non-null int64
Date              4048 non-null object
State             4048 non-null object
Num_Cases         4048 non-null float64
Current_Status    4048 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 189.8+ KB