In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from datetime import date
from datetime import timedelta
import time
%matplotlib inline
from pathlib import Path

In [2]:
#Find yesterday's date and convert it to string
today=date.today()
yesterday=today-timedelta(days=1)
ydate=yesterday.strftime("%d-%m-%Y")

In [3]:
#Specify Data folder
data_folder1 = Path("C:/Users/joses/Nextcloud/JOSEPH/COVID19INDIAORG ANALYSIS/PYTHON APPROACH/PYTHON CODE/data/raw data")
#Compute complete filepath for the day
file_path1 = data_folder1 / "clean_data1&2.csv"

#Read file to data frame
df1=pd.read_csv(file_path1)
#Renames the column for easy manipulation
df1.rename(columns={'Current Status':'Current_Status', 'Date Announced':'Date','Detected State':'State', 'Num Cases':'Num_Cases'}, inplace=True) 
#Chooses the specified columns for further manipulation
df1=df1[['Entry_ID', 'Date', 'State', 'Num_Cases', 'Current_Status']]

In [4]:
#Specify url to download current raw_data3 into dataframe
url="https://api.covid19india.org/csv/latest/raw_data3.csv"
df2=pd.read_csv(url)

#Clean dataframe2
df2=df2.dropna(subset=['Num Cases']) #Drops rows with no entry for Num Cases
df2=df2.dropna(subset=['Detected State']) #Drops rows with no entry for Detected State
#Renames the column for easy manipulation
df2.rename(columns={'Current Status':'Current_Status', 'Date Announced':'Date','Detected State':'State', 'Num Cases':'Num_Cases'}, inplace=True) 
#Drops Recovered and Deceased fromthe data frame
df2=df2[df2.Current_Status=='Hospitalized'] 
#Chooses the specified columns for further manipulation
df2=df2[['Entry_ID', 'Date', 'State', 'Num_Cases', 'Current_Status']]

In [5]:
#Join both dataframes into 1
frames=[df1, df2]
df=pd.concat(frames)

In [6]:
df.head()

   Entry_ID        Date      State  Num_Cases Current_Status
0       1.0  30-01-2020     Kerala        1.0   Hospitalized
1       2.0  02-02-2020     Kerala        1.0   Hospitalized
2       3.0  03-02-2020     Kerala        1.0   Hospitalized
3       4.0  02-03-2020      Delhi        1.0   Hospitalized
4       5.0  02-03-2020  Telangana        1.0   Hospitalized

In [10]:
df.tail(10)

       Entry_ID        Date   State  Num_Cases Current_Status
10001   10002.0  09/05/2020  Odisha        1.0   Hospitalized
10002   10003.0  09/05/2020  Odisha        1.0   Hospitalized
10003   10004.0  09/05/2020  Odisha        1.0   Hospitalized
10004   10005.0  09/05/2020  Odisha        1.0   Hospitalized
10005   10006.0  09/05/2020  Odisha        1.0   Hospitalized
10006   10007.0  09/05/2020   Assam       -1.0   Hospitalized
10008       NaN  27/04/2020  Punjab        9.0   Hospitalized
10009       NaN  27/04/2020  Punjab       -9.0   Hospitalized
10010       NaN  27/04/2020  Punjab        1.0   Hospitalized
10011       NaN  27/04/2020  Punjab       -1.0   Hospitalized

In [8]:
#Specify Data folder
data_folder2 = Path("C:/Users/joses/Nextcloud/JOSEPH/COVID19INDIAORG ANALYSIS/PYTHON APPROACH/PYTHON CODE/data/raw data")
fname2 = "clean_data123.csv"
file_path2 = data_folder2 / fname2

#Export to CSV
df.to_csv(file_path2)

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7863 entries, 0 to 10011
Data columns (total 5 columns):
Entry_ID          7859 non-null float64
Date              7863 non-null object
State             7863 non-null object
Num_Cases         7863 non-null float64
Current_Status    7863 non-null object
dtypes: float64(2), object(3)
memory usage: 368.6+ KB